/* unvisited link */
a:link {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
/* visited link */
a:visited {
    color: green;
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
    color: blue;
}